$black: #333;
$row-odd-color: rgba(161,195,207,.2);
@font-face {
    font-family: 'LdsIcons';
    src:  url("../fonts/GideonldsIcn-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.box-border
{
    border: 1px solid gainsboro;
    border-radius: 5px;
    cursor: pointer;
}

.animated-element.box-border-add,
.animated-element.box-border-remove
{
    -webkit-transition: .3s linear all;
    transition: .3s linear all;
}

.animated-element.box-border-add { border-color: #ffffff; }
.animated-element.box-border-add.box-border-add-active { border-color: gainsboro; }
.animated-element.box-border-remove { border-color: gainsboro; }
.animated-element.box-border-remove.box-border-remove-active { border-color: #ffffff; }

.lds-icon {
    font-family: 'LdsIcons';
    font-style: normal;
    font-weight: normal;
    text-indent: 0;
    position: static;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lds-icon-pencil:before {
    font-size: 18px;
    content: "\e90a";
}

.lds-icon-add:before {
    -webkit-font-smoothing: auto;
    content: "\ea04";
}

.top-rt-corner-box {
    position: absolute;
    right: -5px;
    top: -1px;
    padding: 7px;
    padding-right: 12px;
    padding-top: 4px;
    opacity: 1;
    color: $black;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.add-btn-container {
    float: right;
    .btn {
        padding-top: 1px;
        padding-bottom: 2px;
        margin-right: 5px;
    }
}

.tooltip-save {
    top: -55px !important;
}

.hover-edit-spinner {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
}

.edit-container {
    padding: 5px 0 5px 0;
    min-height: 38px;
    position: relative;
}

.edit-container .restriction-item:nth-of-type(1) {
    padding-top: 0;
}

.edit-box {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

//ON VIEW
hover-edit.disabled{

    .top-rt-corner-box {
        opacity: 1;
        color: $black;
    }

    .hover-edit-item {
        border: 1px solid #ffffff;
        padding-top: 0;
    }

    .row-color {
        background-color: transparent;
    }

    .row-color-last {
        background-color: transparent;
    }
    input {
        border: 1px solid rgba(255, 255, 255, 0);
        box-shadow: none;
        pointer-events:none;
        background-color: rgba(255, 255, 255, 0);

    }

    select {
        border: 1px solid rgba(255, 255, 255, 0);
        -webkit-appearance: none;
        box-shadow: none;
        pointer-events:none;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    .radio, .checkbox {
        margin-bottom: 5px;
    }

    .input-group-addon {
        display: none;
    }
    textarea {
        border: 1px solid #ffffff;
        box-shadow: none;
        pointer-events:none;
        resize: none !important;
    }

    checkbox-list {
        .checkbox-list {
            border: 1px solid #ffffff;
            overflow-y: hidden;
        }
        div {
            input + label {
                display: none;
                padding-left: 1px;
                pointer-events:none;
            }
            input:checked + label {
                display: block;
                pointer-events:none;
            }
            input {
                display: none;
                pointer-events:none;
            }
        }
    }
    .hide-on-disabled{
        display: none;
    }
    .hide-on-enabled {
        display: block;
    }
    editable{
        display: none;
    }
    non-editable{
        display: block;
    }

    .sub-text {
        padding-left: 10px;
    }

    select.input-sm {
        height: 17px;
        line-height: 15px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #fff;
        color: rgba(128, 128, 128, 0.67);
        opacity: 1;
    }
}

hover-edit.disabled:hover {
    .top-rt-corner-box {
        color: #f88e24;
    }
}

// ON EDIT
hover-edit {
    position: relative;

    .top-rt-corner-box {
        opacity: 0;
        color: $black;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

    }

    .hover-edit-item {
        padding: 10px;
    }

    .hide-on-enabled {
        display: none;
    }
    non-editable{
        display: none;
    }

    .btn {
        position: relative;
        z-index: 1039;
        margin-top: 0 !important;
    }

    .table-row-non-editable {
        padding-right: 10px;
    }

    checkbox-list {
        .checkbox input[type="checkbox"] {
            margin-left: 0;
        }
    }
    select {
        margin-bottom: 5px;
    }

    .sub-text {
        padding-left: 0px;
        font-style: italic;
    }
}


.hover-edit-table {
    .edit-box {
        border-radius: 0;
    }
    .hover-edit-table-row-striped:nth-of-type(even) {
        background-color: $row-odd-color;
    }
    .border-bottom-headers{
        text-transform: uppercase;
        //border-bottom: 2px solid $black-sub-header;
        padding-bottom: 8px;
        font-size: 12px;
    }
    .row {
        margin-right: 0;
        margin-top: 5px;
    }

    .edit-box {
        padding-top: 3px;
    }
    .edit-container {
        padding-top: 3px;
    }

    .hover-edit-table-footer {
        margin-top: 10px;
    }
}

